@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #c7f215;
  --color-secondary: #74adf7;
  --color-accent: #8e49f5;
  --color-base-100: #fdfff6;
  --color-neutral: #131601;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #bce70d;
  --color-secondary: #08418c;
  --color-accent: #4f0ab8;
  --color-base-100: #080a00;
  --color-neutral: #fafee7;
}
